<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.member.mapper.ClockTargetMapper">
  <resultMap id="BaseResultMap" type="com.demo.member.model.ClockTarget">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="target_name" jdbcType="VARCHAR" property="targetName" />
    <result column="target_pic" jdbcType="VARCHAR" property="targetPic" />
    <result column="clock_target_type_id" jdbcType="INTEGER" property="clockTargetTypeId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="sort_id" jdbcType="INTEGER" property="sortId" />
    <result column="creator_id" jdbcType="INTEGER" property="creatorId" />
    <result column="modifier_id" jdbcType="INTEGER" property="modifierId" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
</mapper>