<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="APP_NAME" value="demo-member"/>
    <property name="LOG_HOME" value="/logpath/"/>
    <property name="logFileNamePattern" value="${APP_NAME}.%d{yyyy-MM-dd}.%i.log"/>
    <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
    <property name="consoleLayoutPattern"    value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} [%X{requestId}|%X{remoteAddr}|%X{clientInfo}|%X{requestController}]- %msg%n"/>
    <contextName>${APP_NAME}</contextName>

    <appender name="ROLLINGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 按天来回滚，如果需要按小时来回滚，则设置为{yyyy-MM-dd_HH} -->
            <fileNamePattern>${LOG_HOME}/${logFileNamePattern}.txt.zip</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>90</maxHistory><!-- days -->
        </rollingPolicy>
        <encoder>
            <pattern>${consoleLayoutPattern}</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${consoleLayoutPattern}</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ROLLINGFILE"/>
    </root>

</configuration>